.main-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 3em;
    border: 8px solid;
    border-radius: 15px;
}
body{
    font-size: larger;
    background-color: azure;
}
label{
    padding: 0.5em;
}